body {
  padding: 50px;
  padding-top: 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#sign {
  display: flex;
  justify-content: flex-end; /* mais compatível */
  align-items: center;       /* centraliza na altura do container */
  padding-bottom: 15px;
  gap: 10px;                 /* adiciona espaço entre os botões */
}

.titletfform{
  align-self: flex-start;
  padding: 0px;
  margin: 0px;
}

.tfform{
  padding: 0px;
  margin: 0px;
}

.partform{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding-bottom: 25px;
}

#form{
  display: flex;
  flex-direction: column;
  align-items: center;
  /*Aplicado para remover o espaçamento entre o título da parte do formulário e o tf da parte do formulário*/
  line-height: 0.3;
}

#containsform{
  display: flex;
  width: fit-content;
  justify-content: flex-start;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 10px;
}