<p><strong>Por favor, preencha seus dados abaixo:</strong></p>
<div id="containsform">
    <div id="form">
        <div id="formapelidoIn" class="partform">
            <p class="titletfform">Apelido</p><br>
            <div class="ui input tfform">
                <input id="tfApelidoIn" type="text" placeholder="Digite seu apelido...">
            </div>
        </div>

        <div id="formemailIn" class="partform">
            <p class="titletfform">Email</p><br>
            <div class="ui input tfform">
                <input id="tfEmailIn" type="text" placeholder="Digite seu email...">
            </div>
        </div>

        <div id="formsenhaIn" class="partform">
            <p class="titletfform">Senha</p><br>
            <div class="ui input tfform">
                <input id="tfSenhaIn" type="password" placeholder="Digite sua senha...">
            </div>
        </div>

        <button id="btnSendForm" class="ui button primary">Enviar</button>
    </div>
</div>