<p><strong>Por favor, preencha seus dados abaixo:</strong></p>
<div id="containsform">
    <div id="form">
        <div id="formapelidoUp" class="partform">
            <p class="titletfform">Apelido</p><br>
            <div class="ui input tfform">
                <input id="tfApelidoUp" type="text" placeholder="Digite seu apelido...">
            </div>
        </div>

        <div id="formsenhaUp" class="partform">
            <p class="titletfform">Senha</p><br>
            <div class="ui input tfform">
                <input id="tfSenhaUp" type="password" placeholder="Digite sua senha...">
            </div>
        </div>

        <button id="btnSendFormUp" class="ui button primary">Enviar</button>
    </div>
</div>