<h1 class="title">Sobre o site</h1>

<div class="p-4">
    <div class="row align-items-center ">
        <div class="col-md-4 text-center py-3">
            <img src="../images/WIkiHeroe - Logo.svg" alt="Ícone do WIkiHeroe" class="img-fluid">
        </div>
        <div class="col-md-8 text-md-start text-justify">
            <p class="card-text lead">
                O WIkiHeroe é um site feito por <a href="/about/me" style="color: black !important;"><u>mim</u></a>
                visando propagar um pouco da mensagem bíblica de salvação através das incríveis histórias dos heróis que
                viveram nesse planeta, sobretudo o Grande Herói - que, por acaso, me salvou e pode salvar você também -,
                Jesus Cristo.
            </p>
        </div>
    </div>

    <p class="card-text text-justify paragraph">Meu maior objetivo com esse site é apresentar uma coisa legal ao
        professor da disciplina de Progrmação Web I e aos meus colegas de turma. E, ao fazer isso, levar uma mensagem
        legal, que pode trazer muitas mudanças na vida deles todos, como fez na minha vida. </p>

    <hr class="my-4">

    <p class="card-text text-justify paragraph">Jesus é o Rei do Universo, o Pai da Eternidade, o Príncipe da Paz, o
        Maravilhoso Conselheiro, o Deus Forte, o Pão Da Vida, o Caminho, a Verdade, a Vida, a Água da Vida e, além de
        tudo isso, é meu melhor amigo. Embora eu admita que, por vezes, falho com Ele, espero que Ele continue me
        suportando e me amando.</p>

</div>