<h1 class="title">WikiHeroe</h1>
<p class="paragraph">Seja bem-vindo ao melhor site Wiki de super-heróis da Web!</p>

<div id="border-orange-800" class="p-3 w-100 text-break">
  <h2 class="title">Este site é...</h2>
  <p class="paragraph">WikiHeroe é um site desenvolvido como projeto visual da disciplina de Programação Web.
    Seu
    objetivo é
    apresentar uma enciclopédia simples e organizada sobre super-heróis de verdade: os personagens da Bíblia!
    Jesus,
    Moisés, Maria,
    Davi, Rute e muitos outros. Cada personagem possui uma página dedicada com informações relevantes,
    categorizadas
    entre Antigo e Novo Testamento.
  </p>
</div>

<br>

<div id="border-orange-800" class="p-3 w-100 text-break">
  <h2 class="title">Como usar?</h2>
  <p class="paragraph">Na lateral esquerda do site, você vai ver uma barra com nomes de super-heróis. Cada nome é
    um
    botão ou link. Se algum herói da Bíblia chamar sua atenção, é só clicar no nome dele. Quando você clicar, o
    site vai
    te levar para uma página especial, com mais informações sobre ele. Simples assim! É só escolher, clicar e
    descobrir mais sobre seu herói favorito.</p>
</div>

<br>

<div id="border-orange-800" class="p-3 w-100 text-break">
  <h2 class="title">Curiosidades para Devs</h2>
  <p class="paragraph">
    O projeto utiliza Node.js, Express e Bootstrap 5, com layout responsivo baseado em Navbar + Sidebar + Coluna
    única, e segue uma paleta de cores quente e acolhedora (laranja, amarelo e cinza claro). As fontes escolhidas
    são
    Georgia para títulos e Inter para textos corridos, garantindo boa leitura e estilo moderno.</p>
</div>