<%- include('./partials/header') %>
  <main>
    <div class="ui segment">
      <h1>About me</h1>
      <h3><%= name %></h3>
      <p>I'm a student from IFCE Campus Fortaleza!</p>
      <p>My GitHub is <a href='<%= github %>' target="_blank">Jot4g3</a>.</p>
    </div>
  </main>

  <footer>
    <%- include('./partials/footer') %>
  </footer>

  </body>
</html>