<%- include('./partials/header') %>
  <main>
    <div class="ui segment">
      <h1>Project Express</h1>
      <p>I'm using templates with <strong>.ejs</strong> views!</p>
    </div>
  </main>

  <footer>
    <%- include('./partials/footer') %>
  </footer>

  </body>
</html>