<li class="nav-item py-2">
    <a href="/characters/<%= idCharacter %>" class="nav-link <%= selected == idCharacter ? `bg-orange-600` : `` %>" aria-current="page">
        <img src="../images/heroe.png" class="bi me-2" width="24" height="24">
        <%= nameCharacter %>
    </a>
</li>