<li class="nav-item">
    <a href="/characters/<%= idCharacter %>" class="nav-link bg-orange-600" aria-current="page">
        <img src="images/heroe.png" class="bi me-2" width="16" height="16">
        <%= nameCharacter %>
    </a>
</li>